.pdpViweSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 15%;
  padding: 1rem;
  height: auto;
  margin-bottom: 2rem;
}
.productImage {
  width: 100%;
  height: 50%;
  cursor: pointer;
}
.productDiscDiv {
  height: 6rem;
}
.para {
  margin-top: -1.25rem;
}
.price {
  margin-top: -0.75rem;
}
.atcButtonDiv {
  width: 100%;
}
.atcButton {
  width: 100%;
  border: none;
  background-color: rgb(255, 199, 96);
  padding: 0.25rem 0;
  cursor: pointer;
}
